// TODO Arreglar el import y después eliminar el código
/* @import "app/app.component.scss"; */
.contenido {
    background-color: lightblue;
    @include make-row();
    &__articulo {
        background-color: lightgreen;
        @include media-breakpoint-up(xs) {
            @include make-col(12);
        }
        @include media-breakpoint-up(sm) {
            @include make-col(8);
        }
        @include media-breakpoint-up(md) {
            @include make-col(10);
        }
    }
    &__columna-lateral {
        background-color: darkred;
        @include media-breakpoint-up(xs) {
            @include make-col(12);
        }
        @include media-breakpoint-up(sm) {
            @include make-col(4);
        }
        @include media-breakpoint-up(md) {
            @include make-col(2);
        }
    }
}